<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb1</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">Bdgolk@82</property>
   
     <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
        <property name="hibernate.current_session_context_class">thread</property>


<!-- NAmes the annotated entity class -->
<mapping class="org.julia.javabrains.dto.UserDetails"/>
<mapping class="org.julia.javabrains.dto.Vehicle"/>
<mapping class="org.julia.javabrains.dto.TwoWheeler"/>
<mapping class="org.julia.javabrains.dto.FourWheeler"/>
</session-factory>

</hibernate-configuration>